.article-heading {
  font-size: 22px;
}

.carousel-styled {
  height: 300px;
  border-radius: 12px;
}

.card-styled {
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  background-color: var(--q-color-primary);
}

.card-title {
  font-size: 24px;
}

.synopsys {
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis " [..]";
}
