/* This file is not working, edit in the component style tag */

.title-text {
  font-size: 22px;
}

.carousel-styling {
  height: 650px;
  border-radius: 12px;
}

.carousel-card {
  height: 500px;
  border-radius: 12px;
}

.carousel-image {
  height: 500px;
}

.toggle-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
