/* This file is not working, edit in the component style tag */

.article-heading {
  font-size: 22px;
}
.first-column {
    width: 70%;
    gap: 15px;
}
.second-column {
    width: 30%;
    gap: 15px;
}
.card {
    border-radius: 12px;
}
